
body{
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
  }


  .new-section{
      display: flex;
      justify-content: center;
  }

  /* NAVBAR */

  .topnav {
    width: 100%;
    overflow: hidden;
    background-color: #121212;
    padding-right: 10px;
  }

  .topnav a {
    height: 100%;
    float: right;
    color: #f2f2f2;
    padding: 30px 16px 5px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
  }

  .topnav a:hover {
    /* background-color: #ddd; */
    color: aqua;
    transition: 1s;
  }

  .topnav a.active {
    background-color: aqua;
    color: white;
  }

  .topnav a.active:hover {
    background-color: aqua;
    color: #121212;
  }


  /* PROFILE */


  .section-profile{
    margin-top: 140px;
    margin-bottom: 140px;
  }

  .profile-box{
    /* margin-top: 80px; */
    width: 50%;
  }

  .profile-box .p-img img{
    float: left;
    height: 250px;
    border-radius: 50%;
    margin-right: 20px;
    /* #E6E5E5 */
  }

  .profile-box .p-img .profile-img{
    height: 250px;
  }

  .profile-box .hi{
    font-size: 60px;
    font-weight: bold;

  }

  .profile-box .itsme{
    font-size: 18px;
    font-weight: bold;

  }




  /* QUOTE */


  .section-quote{
    margin-bottom: 50px;
  }


  .quote-box{
    /* margin-top: 30px; */
    max-width: 60%;
  }
  
  
  .fa-quote-left{
    float: left;
    margin-right: 15px;
  }
  
  .quote-box .q-text{
    font-size: 28px;
    max-height: 150px;
    overflow: auto;
  }

  .highlight{
    background-color: aqua;
  }



  /*          SLIDER       */

  .section-slider{
    margin-bottom: 50px;
  }

  .slidecontainer{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider{
    /* margin-top: 150px;
    margin-bottom: 150px; */
    width: 300px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
  }

  .slides{
    width: 500%;
    height: 300px;
    display: flex;
    position: relative;
  }

  .slide{
    /* width: 20%; */
    transition: 2s;
  }

  .slides input{
    display: none;
  }

  .slide img{
    width: 300px;
    height: 300px;
  }

  /* css code for manual transition */
  .nav-manual{
    position: absolute;
    width: 300px;
    bottom: 10px;
    display: flex;
    justify-content: center;
  }

  .manual-btn{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }

  .manual-btn:not(:last-child){
    margin-right: 40px;
  }

  .manual-btn:hover{
    background-color: #121212;
  }


  #radio1:checked ~ .first{
    margin-left: 0;
  }

  #radio2:checked ~ .first{
    margin-left: -20%;
  }

  #radio3:checked ~ .first{
    margin-left: -40%;
  }

  #radio4:checked ~ .first{
    margin-left: -60%;
  }

  /* css code for auto navigation */
  .nav-auto{
    position: absolute;
    width: 300px;
    bottom: 10px;
    display: flex;
    justify-content: center;
  }

  .nav-auto div{
    border: 2px solid #121212;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s; 
  }

  .nav-auto div:not(:last-child){
    margin-right: 40px;
  }

  #radio1:checked ~ .nav-auto .auto-btn1{
    background: #121212;
  }

  #radio2:checked ~ .nav-auto .auto-btn2{
    background: #121212;
  }

  #radio3:checked ~ .nav-auto .auto-btn3{
    background: #121212;
  }

  #radio4:checked ~ .nav-auto .auto-btn4{
    background: #121212;
  }




  /*        FOOTER       */


  footer{
    /* margin-top: 50px; */
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
  }
  
  .footer-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  
  .footer-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
  }
  
  .footer-list li{
    margin: 0 10px;
  }
  
  .footer-list a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
  }
  
  .footer-list a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
  }
  
  .footer-list a:hover i{
    color: aqua;
  }

  
.tooltip{
  position: relative;
}

.footer-list .tooltiptext {
  visibility: hidden;
  width: 120px;
  font-size: 12px;
  background-color: aqua;
  color: #121212;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 5;
  bottom: 110%;
  left: 50%;
  margin-left: -60px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
  }

.tooltip:hover .tooltiptext{
  visibility: visible;
  opacity: 1;
  color: #111;
}
